#index-header{
    background:#FF9800;
    width:100%;overflow:hidden;
}

#index-header h1{
    text-align:center;
}

#nav-menu{
    float:right;
}

#nav-menu ul{
    text-align:center;
    float:right;
}

#nav-menu li{
    display:inline-block;
    padding:0em 1.5em;
    font-weight:600;
    text-transform:uppercase;
}

#nav-menu li a{
    display:inline-block;
    color:#dd5d5d;
}
