<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/body.css">
    <title>Mason's Portfolio Site | Programming Projects</title>
</head>
<body>
    <div layout:fragment="content">
        <script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
        <script>
            /*<![CDATA[*/

            var app = angular.module( "portfolioSite", [] );
            app.controller( "programmingProjectsCtrl", function( $scope, $http, $q ) {

                $scope.debug = 0;

                /* Variables */

                $scope.active_projects_flag = '[ACTV]';
                $scope.inactive_projects_flag = '[COMP]';

                $scope.title = 'Programming Projects';
                $scope.nav_menu_components = {
                    'Home' : '../index.html',
                    'Programming Projects' : '../programming-projects/programming-projects.html',
                    'Nick' : '../nick/nick.html'
                }  // TODO: Rework with API when I make this a Spring application... eventually
                $scope.profiles = [
                    { root : https://api.github.com, username : 'mwhicks-dev', headers : {} }
                ]
                $scope.active_projects = [];
                $scope.inactive_projects = [];

                /* Functions */

                $scope.processProfile( profile ) {

                    if ( $scope.debug > 0 ) {
                        console.log( "-> processProfile" );
                        console.log( "Profile:" );
                        console.log( profile );
                    }

                    $http({
                        method : 'GET',
                        url : profile.root + '/users/' + profile.username + '/repos',
                        headers : profile.headers
                    }).then( $scope.processRepositories( response.data ) );

                    if ( $scope.debug > 0 ) {
                        console.log( "<- processProfile" );
                    }

                }

                $scope.processRepositories = function( repositories ) {

                    if ( $scope.debug > 0 ) {
                        console.log( "-> processRepositories" );
                        console.log( "Repositories:" );
                        console.log( repositories );
                    }

                    for ( let i in repositories ) {
                        let repository = repositories[ i ];
                        if ( repository[ 'description' ] != null && repository[ 'description' ].length > 6
                                && ( repository[ 'description' ].substring( 0, 6 ) == $scope.active_projects_flag
                                || repository[ 'description' ].substring( 0, 6 ) == $scope.inactive_projects_flag ) ) {

                            $scope.processRepository( repository );

                        }
                    }

                    if ( $scope.debug > 0 ) {
                        console.log( "<- processRepositories" );
                    }

                }

                $scope.processRepository( repository ) {



                }

                $scope.fixProjectLanguages = function( languages ) {

                    // Get language keys
                    const keys = Object.keys( languages );

                    // Get total amount of lines
                    let total = 0;
                    for ( let i in keys ) {
                        total += parseInt( languages[ keys[ i ] ] );
                    }

                    // Convert each lines to percentage
                    for ( let i in keys ) {
                        languages[ keys[ i ] ] = 1.0 * parseInt( languages[ keys[ i ] ] ) / total * 100;
                    }

                    // Convert each percentage to string
                    for ( let i in keys ) {
                        if ( languages[ keys[ i ] ] < 1 ) {
                            languages[ keys[ i ] ] = "<1";
                        } else {
                            languages[ keys[ i ] ] = parseInt( languages[ keys[ i ] ] ).toString();
                        }
                    }

                }

                // Get projects
                $http({
                    method : 'GET',
                    url : 'https://api.github.com/users/mwhicks-dev/repos'
                }).then( function( response ) {

                    if ( $scope.debug > 0 ) {
                        console.log( "-> GET /api/github/users/mwhicks-dev/repos" );
                    }

                    let repositories = [];

                    for ( let i in response.data ) {

                        let repository = response.data[ i ];

                        if ( repository[ 'description' ] != null && repository[ 'description' ].length > 6
                                && ( repository[ 'description' ].substring( 0, 6 ) == $scope.active_projects_flag
                                || repository[ 'description' ].substring( 0, 6 ) == $scope.inactive_projects_flag ) ) {

                            // Get basic data (name, description, url, github url)
                            let repository_data = {
                                'name' : repository.name,
                                'description' : repository.description.substring( 6 ),
                                'website' : repository.homepage,
                                'github_website' : repository.html_url
                            };

                            if ( repository_data[ 'description' ].substring( 0, 6 ) == $scope.active_projects_flag ) {
                                $scope.active_projects.push( repository_data );
                            } else {
                                $scope.inactive_projects.push( repository_data );
                            }

                            // Get latest pull request merged to production branch
                            $http({
                                method : 'GET',
                                url : repository.url + "/pulls?state=closed"
                            }).then( function( response ) {

                                if ( $scope.debug > 1 ) {
                                    console.log( "-> GET " + repository.url + "/pulls?state=closed" );
                                }

                                repository_data[ 'pull_request' ] = null;

                                let pulls = response.data;
                                if ( pulls.length > 0 ) {

                                    for ( let i in pulls ) {

                                        let pull = pulls[ i ];

                                        // Continue if not merged into production
                                        if ( !pull.hasOwnProperty( 'merged_at' ) || pull[ 'merged_at' ] == null
                                                || pull[ 'base' ][ 'ref' ] != 'production' ) { continue; }

                                        // Otherwise, actually mark pull and break
                                        repository_data[ 'pull_request' ] = {
                                            'name' : pulls[ 0 ].title,
                                            'description' : pulls[ 0 ].body
                                        };

                                        break;

                                    }

                                }

                                if ( $scope.debug > 1 ) {
                                    console.log( "<- GET " + repository.url + "/pulls?state=closed" );
                                }

                            });

                            // Get repository langauges
                            $http({
                                method : 'GET',
                                url : repository.url + "/languages"
                            }).then( function ( response ) {

                                if ( $scope.debug > 1 ) {
                                    console.log( "-> GET " + repository.url + "/languages" );
                                }

                                repository_data[ 'languages' ] = null;
                                let languages = response.data;
                                if ( Object.keys( languages ).length > 0 ) {
                                    repository_data[ 'languages' ] = languages;
                                }

                                $scope.fixProjectLanguages( repository_data[ 'languages' ] );

                                if ( $scope.debug > 1 ) {
                                    console.log( "<- GET " + repository.url + "/languages" );
                                }

                                if ( $scope.debug > 0 ) {
                                    console.log( repository_data );
                                }

                            });

                        }

                    }

                    if ( $scope.debug > 0 ) {
                        console.log( "<- GET /api/github/users/mwhicks-dev/repos" );
                    }

                });

                /* Logic */
                // Make current page have no href
                $scope.nav_menu_components[ $scope.title ] = '#'

                // Process profiles
                for ( let i in $scope.profiles ) {

                    $scope.processProfile( $scope.profiles[ i ] );

                }

            });

            /*]]>*/
        </script>

        <div ng-app="portfolioSite" ng-controller="programmingProjectsCtrl">

            <div id="header">
                <nav>
                    <div id="nav-menu">
                        <ul>
                            <li class="nav-link" ng-repeat="(title, href) in nav_menu_components track by $index"><a href="{{href}}">{{title}}</a></li>
                        </ul>
                    </div>
                </nav>
                <h1>{{title}}</h1>
            </div>

            <div id="body">
                <table>
                    <tr><td>
                        <table id="projects-table">
                            <tr>
                                <th>Active</th>
                            </tr>
                            <tr ng-repeat="branch in active_projects track by $index"><td>
                                Project Title: {{branch.name}}<ul>
                                    <li ng-if="branch['description'!=null]">Project Description: {{branch.description}}</li>
                                    <li ng-if="branch['languages']!=null">Languages:<ul>
                                        <li ng-repeat="(language, lines) in branch.languages">{{language}}: {{lines}}%</li>
                                    </ul></li>
                                    <li ng-if="branch['website']!=null">Deployed Website: <a href="{{branch.website}}">{{branch.website}}</a></li>
                                    <li ng-if="branch['pull_request']!=null">Latest Pull: {{branch.pull_request.name}}<br/>{{branch.pull_request.description}}</li>
                                    <li ng-if="branch['github_website']!=null">GitHub Link: <a href="{{branch.github_website}}">{{branch.github_website}}</a></li>
                                </ul>
                            </td></tr>
                        </table>
                    </td><td>
                        <table id="projects-table">
                            <tr>
                                <th>Completed</th>
                            </tr>
                            <tr ng-repeat="branch in inactive_projects track by $index"><td>
                                Project Title: {{branch.name}}<ul>
                                    <li ng-if="branch['description'!=null]">Project Description: {{branch.description}}</li>
                                    <li ng-if="branch['languages']!=null">Languages:<ul>
                                        <li ng-repeat="(language, lines) in branch.languages">{{language}}: {{lines}}%</li>
                                    </ul></li>
                                    <li ng-if="branch['website']!=null">Deployed Website: <a href="{{branch.website}}">{{branch.website}}</a></li>
                                    <li ng-if="branch['pull_request']!=null">Latest Pull: {{branch.pull_request.name}}<br/>{{branch.pull_request.description}}</li>
                                    <li ng-if="branch['github_website']!=null">GitHub Link: <a href="{{branch.github_website}}">{{branch.github_website}}</a></li>
                                </ul>
                            </td></tr>
                        </table>
                    </tr></td>
                </table>
            </div>

        </div>
    </div>
</body>
</html>
