<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/body.css">
    <title>Mason's Portfolio Site | Programming Projects</title>
</head>
<body>
    <div layout:fragment="content">
        <script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
        <script type="text/javascript" src="./angular_src.js"></script>

        <div ng-app="portfolioSite" ng-controller="programmingProjectsCtrl">

            <div id="header">
                <nav>
                    <div id="nav-menu">
                        <ul>
                            <li class="nav-link" ng-repeat="(title, href) in nav_menu_components track by $index"><a href="{{href}}">{{title}}</a></li>
                        </ul>
                    </div>
                </nav>
                <h1>{{title}}</h1>
            </div>

            <div id="body">
                <table>
                    <tr><td>
                        <table id="projects-table">
                            <tr>
                                <th>Active</th>
                            </tr>
                            <tr ng-repeat="branch in active_projects track by $index"><td>
                                Project Title: {{branch.name}}<ul>
                                    <li ng-if="branch['description']!=null">Project Description: {{branch.description}}</li>
                                    <li ng-if="branch['languages']!=null">Languages:<ul>
                                        <li ng-repeat="(language, lines) in branch.languages">{{language}}: {{lines}}%</li>
                                    </ul></li>
                                    <li ng-if="branch['website']!=null">Deployed Website: <a href="{{branch.website}}">{{branch.website}}</a></li>
                                    <li ng-if="branch['pull_request']!=null">Latest Pull: {{branch.pull_request.name}}<br/>{{branch.pull_request.description}}</li>
                                    <li ng-if="branch['github_website']!=null">GitHub Link: <a href="{{branch.github_website}}">{{branch.github_website}}</a></li>
                                </ul>
                            </td></tr>
                        </table>
                    </td><td>
                        <table id="projects-table">
                            <tr>
                                <th>Completed</th>
                            </tr>
                            <tr ng-repeat="branch in inactive_projects track by $index"><td>
                                Project Title: {{branch.name}}<ul>
                                    <li ng-if="branch['description']!=null">Project Description: {{branch.description}}</li>
                                    <li ng-if="branch['languages']!=null">Languages:<ul>
                                        <li ng-repeat="(language, lines) in branch.languages">{{language}}: {{lines}}%</li>
                                    </ul></li>
                                    <li ng-if="branch['website']!=null">Deployed Website: <a href="{{branch.website}}">{{branch.website}}</a></li>
                                    <li ng-if="branch['pull_request']!=null">Latest Pull: {{branch.pull_request.name}}<br/>{{branch.pull_request.description}}</li>
                                    <li ng-if="branch['github_website']!=null">GitHub Link: <a href="{{branch.github_website}}">{{branch.github_website}}</a></li>
                                </ul>
                            </td></tr>
                        </table>
                    </tr></td>
                </table>
            </div>

        </div>
    </div>
</body>
</html>
